.container {
  background-color: rgb(228, 237, 237);
  width: 90%;
  height: 10%;
  border-radius: 15px;
  
}

.skill {
  background-color: rgb(194, 64, 64);
  color: white;
  padding: 0.005%;
  text-align: right;

  border-radius: 15px;
}

.circle{ 
  width:100px; 
  height:100px;
  border-radius: 50%;
}